body {
    margin: 0;
    height: 100vh;

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 50% 50%, rgba(58, 26, 26, 0.93) 0%, rgba(54, 37, 37, 0.84) 50%, rgba(3, 16, 41, 0.73) 99%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 50%, rgba(58, 26, 26, 0.93) 0%, rgba(54, 37, 37, 0.84) 50%, rgba(3, 16, 41, 0.73) 99%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 50%, rgba(58, 26, 26, 0.93) 0%, rgba(54, 37, 37, 0.84) 50%, rgba(3, 16, 41, 0.73) 99%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 50%, rgba(58, 26, 26, 0.93) 0%, rgba(54, 37, 37, 0.84) 50%, rgba(3, 16, 41, 0.73) 99%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 50% 50%, rgba(58, 26, 26, 0.93) 0%, rgba(54, 37, 37, 0.84) 50%, rgba(3, 16, 41, 0.73) 99%);
}
.container-outer {

}
